<h3>New message:</h3>
    <form method = "POST" action = "/new">
        <label for="nameText">Name</label>
        <input id="nameText" name="nameText"><br>
        <label for="messageText">Message</label>
        <input id="messageText" name="messageText">
        <input type="submit" value="submit">
    </form>
    <a href ="../">Home</a>